@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Jost:wght@200;300;400;500;600;700;800;900&display=swap");
.section-bg2 {
  background-color: #f3ead8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* Declaring the variables */
:root {
  --primary-color: #292621;
  --secondary-color: #ff2020;
  --line-color: #edeff2;
  --menu-button: #222222;
  --drop-down: #4c4c4c;
  --paragraph-color: #74706b;
  --slider-color2: #e0f4f7;
  --font-size-1: 14px;
  --font-weight-1: 400;
  --font-style-1: sans-serif;
  --font-family-2: "Clicker Script", sans-serif;
  --font-family-3: "Jost", sans-serif;
}

/* For the first border */
header.first-header {
  height: 30px;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #edeff2;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  width: 1440px;
  max-width: 87%;
  margin: 0 auto;
}

.nav-aboutus {
  list-style-type: none;
  display: flex;
  gap: 40px;
  font-size: var(--font-size-1);
  color: var(--primary-color);
  font-weight: var(--font-weight-1);
  font-style: var(--font-style-1);
  align-items: center;

}

div.wish {
  font-size: 12px;
  border-right: 1px solid #292621;
  display: flex;
  justify-content: space-around;
}
div.track {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid #292621;
  align-items: center;
}
div.socialmedia {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  align-items: center;
}

.socialmedia .icons-container i {
  color: var(--secondary-color);
  transition: opacity 0.3s ease, color 0.3s ease;
}

.socialmedia .icons-container i:hover {
  color: var(--secondary-color);
  transform: rotateY(-90deg);
}

.socialmedia .icons-container {
  perspective: 1000px;
}

/* For the second navbar */
header.second-header {
  height: 90px;
  display: flex;
  width: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}
nav.second-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family-3);
  width: 100%;
}

div.main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

p.capital {
  font-size: 25px;
  font-weight: bolder;
  font-family: var(--font-family-3);
}
p.shops {
  font-size: 25px;
  font-weight: 300;
  font-family: var(--font-family-3);
}

.second-links {
  display: flex;
  gap: 3rem;
  list-style-type: none;
  justify-content: center;
}

a:hover {
  color: var(--secondary-color);
}
a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
.main-icons {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  align-items: center;
  font-size: 25px;
}

/* Third navbar */
header.sale {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}
nav.sale {
  display: flex;
  justify-content: center;
}
div.period {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
p.now {
  color: #cebd9c;
  border-bottom: 2px solid #cebd9c;
}

/* For the menu */
.menu-container {
  display: none;
}

/* Media Query for Menu Container*/
@media screen and (max-width: 1200px) {
  .second-links {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .second-links {
    gap: 1.2rem;
  }
}

@media screen and (max-width: 1200px) {
  .menu-container {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: var(--drop-down);
    height: 60px;
    position: sticky;
    top: 5.5rem;
    z-index: 999;
    width: 100%;
    bottom: 2.5em;
  }


  .menu-button {
    text-align: center; 
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1.5em; 
    background-color: var(--menu-button);
    border-radius: 5px;
    margin-right: 0.1rem;
    padding: 0.3em 1.0em;
  }
  .menu {
    color: white;
    font-size: 20px;
  }
  i.bi-list {
    color: white;
    font-size: 20px;

  }
  .navbar {
    display: none;
  }

  .main-icons {
    color: var(--secondary-color);
    font-size: 25px;
    display: flex;
    gap:0.5em;
    z-index: 100;
    cursor: pointer;
    padding: 0 0 0 4.2em;
  }

  .dropdown {
    display: flex;
    justify-content: end;
    width: 100%;
    color: white;
  }
  .dropdown-content {
    width: 100%;
    display: flex;
    position: absolute;
    background-color: var(--drop-down);
    z-index: 1;
    left: 0;
  }
  
  .dropdown-content div{
    position: absolute;
    width: 100%;
    top: 2rem;
    left: 0;
    background-color: var(--drop-down);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    align-items: start;
    gap: 1em;
  }


  .change-text-color{
    color: white;
  }
  .dropdown-content a {
    color: white;
    display: flex;
    justify-self: flex-start;
    border-radius: .4rem;
    padding: .3em;
    width: 100%;
    text-decoration: none;
  }

  .menu-text-and-burger div:hover {
    background-color: white;
    color: black;
    width: 100%;
    transition-duration: 0.5s;
  }

  .menu-text-and-burger{
    display: flex;
    cursor: pointer;
    gap: 0.5em;
  }

  .dropdown-content a:hover{
    background-color: rgb(165, 164, 164);
    color: black;
  }

  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items:center ;
  }

  .main-links {
    display: none;
  }

  .d-none {
    display: none !important;
  }

  p.sale {
    display: none;
  }
  header.sale {
    position: relative;
  }
}

/* Hero section:This is for the fashion sale part where you apply swiper.js */

.hero-section {
  width: 100%;
}

.hero-container {
  width: 100%;
}

.hero-container-one {
  background-image: url("./images/man.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  padding: 9rem 0 9rem 0;

}

.hero-container-one .content-one {
  display: flex;
  align-items: center;
}

.hero-container-two {
  background-image: url("./images/woman.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  padding: 9rem 0 9rem 0;

}

.fashion-textbox {
  justify-content: center;
  align-items: center;
}

/* Media Query for the first swiper.js */
@media (max-width: 768px) {
  h4.paragraph {
    font-size: 1px;
    font-weight: lighter;
    color: var(--drop-down);
  }
}

.hero-container-two .content-two {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fashion-textbox {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.fashion-textbox1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.image-holder1 {
  width: 80%;
  display: flex;
}
span.fashion {
  font-family: var(--font-family-2);
  font-size: clamp(2.5em, 4.2em, 4vw);
  line-height: 1.2;
  font-weight: 400;
  display: block;
  color: var(--secondary-color);
}
p.minimal {
  font-size: clamp(1.5em, 5em, 4vw);
  font-weight: 500;
  color: var(--primary-color);
  line-height: 1.3;
  font-family: var(--font-family-3);
}
h4.paragraph {
  font-size: clamp(.8em, 1.1em, 4vw);
  font-family: var(--font-family-3);
  color: var(--paragraph-color);
  text-align: center;
  font-weight: 300;
}
.button-shopnow {
  background-color: var(--primary-color);
  padding: 15px 47px;
  font-family: var(--font-family-3);
  color: white;
}
.button-shopnow:hover {
  background-color: transparent;
  border: 2px solid black;
  color: black;
}

/* For the animation on the first page with the first swiper*/
@keyframes fadeInUp {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-100px);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animated-element {
  animation: 0.6s ease-in;
}
.minimal {
  animation-name: bounceIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in;
  animation-delay: 0.6s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
.paragraph {
  animation-name: fadeInUp;
  animation-duration: 0.6s;
  animation-timing-function: ease-in;
  animation-delay: 0.6s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
.button-shopnow {
  animation-name: fadeInUp;
  animation-duration: 0.6s;
  animation-timing-function: ease-in;
  animation-delay: 0.6s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

/*Section2: Next section after the swiper.js */
.section-two {
  padding-top: 2em;
}
.gallery-holder {
  display: flex;
  gap: 1.5rem;
  width: 100%;
}

.card-image{
  position: relative;
}

.card-image::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: rgb(215,237,239);
  background-color: rgba(27, 27, 26, 0.096);
  transition: .55s;
}

.card-image::after{
  /* content: ''; */
  position: absolute;
  width: 100%;
  /* height: 100%; */
  background-color: rgba(172, 37, 37, 0.205);
  box-shadow: rgb(215,237,239);
  transition: .55s;
  top: 0;
}

.card-image:hover::after{
  height: 100%;
}

.image-one {
  background-image: url("./images/items1.jpg");
  background-size: cover;
  background-position: center;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 14rem 0 0 0;
}

.image-one:hover .over-text {
  transform: translateY(-40px);
}
.image-one:hover .shopnow {
  opacity: 1;
  transform: translateY(0);
}
.over-text {
  color: white;
  font-family: var(--font-family-3);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
  transition: .5s;
}
.image-two {
  background-image: url("./images/items2.jpg");
  background-size: cover;
  background-position: center;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 14rem 0 0 0;
}

.image-two:hover .over-text {
  transform: translateY(-40px);
}
.image-two:hover .shopnow {
  opacity: 1;
  transform: translateY(0);
}
.image-three {
  background-image: url("./images/items3.jpg");
  background-size: cover;
  background-position: center;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 14rem 0 0 0;
}

.image-three:hover .over-text {
  transform: translateY(-40px);
}
.image-three:hover .shopnow {
  opacity: 1;
  transform: translateY(0);
}
div.shopnow {
  color: #cebd9c;
  font-size: 15px;
  font-family: var(--font-family-3);
  display: flex;
  justify-content: center;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.5s ease-in-out;
}
.gallery-holder img {
  max-width: 100%;
}

/* media query for the image holder */
@media (max-width: 768px) {
  .section-two {
    width: 100%;
    position: relative;
  }

  .gallery-holder {
    display: flex;
    flex-wrap: wrap;
  }
  .image-one {
    flex: 1 1 100%;
  }
  .image-two {
    flex: 1 1 100%;
  }
  .image-three {
    flex: 1 1 100%;
  }
}

/* Next: The navbar that says 'Trending This Week' */
.trending-container {
  padding: 5rem 0 0 0;
  display: flex;
}
.trend-header {
  border-bottom: 0.5px solid #ccc;
  display: flex;
  align-items: center;
}
.week {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  font-family: var(--font-family-3);
  font-size: 28px;
  font-weight: 500;
}
.trending-links {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
ul.week-links {
  display: flex;
  gap: 2em;
  font-family: var(--font-family-3);
  color: var(--drop-down);
  font-size: 16px;
  font-weight: 500;
}
li.texts {
  list-style-type: none;
}
li.textss {
  list-style-type: none;
  color: var(--secondary-color);
  border-bottom: 4px solid var(--secondary-color);
  padding: 0 0 1em 0;
  cursor: pointer;
}
li.texts:hover {
  border-bottom: 4px solid var(--secondary-color);
  padding: 0 0 1em 0;
  cursor: pointer;
}


/* Media Query for the navbar that says: 'Trending this week' */
@media (max-width: 768px) {
  .week {
    display: inline;
    width: 80%;
    white-space: nowrap;
    position: relative;
    bottom: 60rem;
  }
  .trending-container {
    margin-top: 53em;
  }
  li.textss {
    border-bottom: none;
  }
  .trend-header {
    border-bottom: none;
    position: relative;
    top: 2em;
    bottom: 20rem;
  }
  .trending-links {
    position: relative;
    bottom: 60rem;
    margin-top: 8em;
    display: flex;
    margin-right: 37em;
    /* margin-left: -13em; */
    padding:  0 9em 0 0;
  }
}

/* Section 3: This is the section that contains the second swiper js */
.clothes-gallery {
  padding: 4rem 0;
}
.clothe-and-text-holder {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.clothe-1 {
  display: flex;
  flex-direction: column;
  background-image: url(./images/latest1.jpg);
  background-size: cover;
  align-items: center;
  justify-content: end;
  position: relative;
  padding: 0 0 20rem 0;
}

.clothe-2 {
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-image: url(./images/latest2.jpg);
  background-size: cover;
  align-items: center;
  justify-content: end;
  position: relative;
  padding: 0 0 20rem 0;
}
.clothe-3 {
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-image: url(./images/latest3.jpg);
  background-size: cover;
  align-items: center;
  justify-content: end;
  position: relative;
  padding: 0 0 20rem 0;
}
.clothe-4 {
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-image: url(./images/latest4.jpg);
  background-size: cover;
  align-items: center;
  justify-content: end;
  position: relative;
  padding: 0 0 20rem 0;
}
.clothe-text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
span.cashmere {
  font-family: var(--font-family-3);
  font-size: 16px;
  font-weight: 400;
  color: #292621;
}
span.cashmere:hover {
  color: var(--secondary-color);
  cursor: pointer;
}
p.numbers {
  color: #74706b;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}
span.dollars {
  color: #d2c2a3;
  text-decoration: line-through;
}

/* This is for the icons that will hover on the image */
.icon-holder {
  display: flex;
  font-size: 1.5em;
  color: #292621;
}
.iconify i {
  background-color: white;
  padding: 0.3em 0.7em;
}
.iconify i:hover {
  background-color: var(--secondary-color);
  color: white;
  transition-duration: 1s;
}
.icon-holder {
  opacity: 0;
}
.icon-holder:hover {
  opacity: 1;
  transition-duration: 1s;
  position: absolute;
  bottom: 0.5em;
  right: 2em;
}
.carousel-item {
  display: flex;
  justify-content: center;
}
.carousel-item img {
  margin: 0 5px;
}

@media (max-width: 768px) {
  .clothes-gallery {
    position: relative;
    bottom: 60rem;
  }
}

/* Section 4: Customer Testimonial */
.customer-test {
  background-color: #f3ead8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer-testimonial {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
}
.testimonial-text {
  width: 50%;
  display: flex;
  gap: 1em;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.customer-header {
  font-family: var(--font-family-3);
  font-size: 29px;
  font-weight: 500;
  color: #292621;
  display: flex;
  justify-content: center;
}
.everybody-text {
  font-size: 18px;
  color: var(--paragraph-color);
  font-weight: 500;
  font-family: var(--font-family-3);
  display: flex;
  text-align: center;
}
.small-image-holder {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.peter-cruiser-and-text {
  display: flex;
  gap: 1em;
}
.about-petey-cruiser {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
span.peter {
  font-size: 16px;
  font-family: var(--font-family-3);
  color: #292621;
  font-weight: 500;
  text-align: left;
}
p.designer {
  color: #74706b;
  font-weight: 500;
  font-family: var(--font-family-3);
  font-size: 14px;
  width: 10em;
}

/* Media Query for Customer testimonial */
@media (max-width: 768px) {
  .testimonial-text {
    width: 100%;
  }
  .customer-test {
    position: relative;
    bottom: 60em;
  }
  .you-may-like-section{
    position: relative;
    margin-top: -60rem;
  }
}

/* Section 5: You may like section */
.you-may-like-section {
  position: relative;
  top: 6em;
}

.may-like-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.you-may-like-text {
  font-family: var(--font-family-3);
  font-size: 29px;
  font-weight: 500;
  color: #292621;
  display: flex;
  justify-content: center;
}
.clothe-5 {
  display: flex;
  flex-direction: column;
  background-image: url(./images/latest5.jpg);
  background-size: cover;
  align-items: center;
  justify-content: end;
  position: relative;
  padding: 0 0 20rem 0;
}
.clothe-6 {
  display: flex;
  flex-direction: column;
  background-image: url(./images/latest6.jpg);
  background-size: cover;
  align-items: center;
  justify-content: end;
  position: relative;
  padding: 0 0 20rem 0;
}
.clothe-7 {
  display: flex;
  flex-direction: column;
  background-image: url(./images/latest7.jpg);
  background-size: cover;
  align-items: center;
  justify-content: end;
  position: relative;
  padding: 0 0 20rem 0;
}
.clothe-8 {
  display: flex;
  flex-direction: column;
  background-image: url(./images/latest8.jpg);
  background-size: cover;
  align-items: center;
  justify-content: end;
  position: relative;
  padding: 0 0 20rem 0;
}

/* This is for Latest News */
.latest-news-section {
  background-color: #f6f6f6;
  display: flex;
  position: relative;
  top: 12rem;
  justify-content: center;
  width: 100%;
  padding: 5rem 0 0 0;
}
.latest-news-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.latest-news-title {
  font-family: var(--font-family-3);
  font-size: 29px;
  font-weight: 500;
  color: #292621;
  display: flex;
  justify-content: center;
}
.fashiontips-card {
  display: flex;
  gap: 1.5em;
}
.cart-container {
  width: 100%;
  display: flex;
  gap: 1em;
  flex-direction: column;
}
span.fashiontips {
  color: #74706b;
  font-family: var(--font-family-3);
  font-size: 16px;
  font-style: normal;
}
h3.curling-irons {
  font-family: var(--font-family-3);
  font-size: 23px;
  font-weight: 500;
  color: #292621;
}
.curling-irons:hover {
  color: var(--secondary-color);
  cursor: pointer;
}
p.elit {
  color: #74706b;
  font-family: var(--font-family-3);
  font-size: 16px;
  font-weight: 400;
}
u.read {
  font-family: var(--font-family-3);
  font-weight: bolder;
  font-size: 16px;
  color: black;
  transition: all o.3s ease;
}
.read:hover {
  cursor: pointer;
  letter-spacing: 0.03em;
}

/* Media query for latest news */
@media (max-width: 768px) {
  .fashiontips-card {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .latest-news-section {
    position: relative;
    top: 8rem;
    padding: 0 0 5rem 0;
  }
}

/*  Fast & Free Delivery, Secure Payment, Money Back Guarantee */
.delivery-section {
  padding: 10rem 0;  
  position: relative;
  bottom: -6rem;
}
.delivery-container {
  display: flex;
}
.delivery-product-card {
  border-right: 1px solid #edeff2;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.capture1 {
  justify-content: center;
  align-items: center;
}
span.fast {
  font-size: 23px;
  font-weight: 500;
  color: #2b2b2b;
  font-family: var(--font-family-3);
}
p.free {
  color: #57667e;
  font-size: 16px;
  font-family: var(--font-family-3);
  font-weight: 400;
}

/* Media query for delivery products */
@media (max-width: 768px) {
  .delivery-container {
    display: flex;
    gap: 3em;
    flex-direction: column;
    width: 100%;
    border: hidden;
  }

  .delivery-section {
    position: relative;
    padding: 6rem 0 10rem 0;
  }

  .delivery-product-card {
    width: 100%;
  }
}

/* Last Section  */
.last-section-holder {
  background-color: #171613;
  padding: 6rem 0 1rem 0;
  position: relative;
}

.subscribe-newsletter-header {
  border-bottom: 1px solid #383734;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-newstext {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.right-social-handles {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  gap: 2em;
  align-content: flex-end;
}
.button-holders {
  display: flex;
  gap: 0.5em;
  width: 40%;
  height: 5em;
}
span.newsletter {
  font-family: var(--font-family-3);
  font-weight: normal;
  font-size: 23px;
  color: white;
}
p.discount {
  color: #fff;
  font-size: 15px;
  font-family: var(--font-family-3);
  font-weight: 400;
}
.enter-email {
  width: 70%;
  height: 60px;
  color: #000;
  background-color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px 24px;
  font-size: 16px;
  border-radius: 0;
}
button.btn-subscribe {
  height: 60px;
  background-color: var(--secondary-color);
  border-radius: 0;
  padding: 13px 24px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  border: 1px hidden;
}
.right-social-handles {
  font-weight: 400;
  font-size: 24px;
  color: #677f8b;
  text-align: center;
  cursor: pointer;
  font-family: var(--font-family-3);
}
.socialhandles:hover {
  transition: all 0.4s ease-out 0s;
  transform: rotateY(180deg);
  color: var(--secondary-color);
}

.shopping-contents {
  display: flex;
  gap: 4em;
  position: relative;
  top: 4em;
}
.main-logos {
  display: flex;
  gap: 0.6em;
  align-items: center;
  position: relative;
  top: 2em;
}

p.capitals {
  font-size: 25px;
  font-weight: bolder;
  font-family: var(--font-family-3);
  color: #fff;
  margin-top: 0.4em;
}
p.shop {
  font-size: 25px;
  font-weight: 300;
  color: #fdfffd;
  margin-top: 0.4em;
  font-family: var(--font-family-3);
}
.shopping-men {
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
span.shop-men {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font-family-3);
  font-style: normal;
}
.winter-linkss {
  color: #bbb9b5;
  font-weight: 400;
  font-size: 16px;
  transition: all 0ms ease-in-out;
}
.winter-linkss:hover {
  text-decoration: underline;
  color: #bbb9b5;
  cursor: pointer;
  letter-spacing: 0.03em;
}

/* Footer section */
.footer-page {
  border-top: 1px solid #383734;
  position: relative;
  top: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright-section {
  width: 60%;
  display: flex;
  gap: 1em;
  justify-content: center;
}
.copyright-text {
  border-right: 1px solid #4c4c4c;
  display: flex;
  justify-content: center;
  color: #bbb9b5;
  font-weight: 300;
  font-size: 16px;
  font-family: var(--font-family-3);
}
.template {
  color: #bbb9b5;
  font-weight: 300;
  font-size: 16px;
  font-family: var(--font-family-3);
}
.loveshape {
  color: var(--secondary-color);
}
span.colorlib {
  color: var(--secondary-color);
}

/* Media Query for this last section */
@media (max-width: 768px) {
  .last-section-holder {
    padding: 0 0 6rem 0;
  }
  .subscribe-newsletter-header {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .last-section-container {
    display: flex;
    flex-direction: column;
  }
  .subscribe-newstext {
    width: 100%;
    position: relative;
    top: 6em;
  }
  .button-holders {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 5em;
  }
  .enter-email {
    width: 100%;
  }
  .btn-subscribe {
    width: 100%;
    height: 50%;
  }
  .right-social-handles {
    position: relative;
    top: 4em;
    display: flex;
    right: 1.5em;
  }
  .shop-headers {
    position: relative;
    top: 5em;
  }
  .shopping-contents {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .shopping-men {
    width: 100%;
  }
}

/* Copyright section */
.copyright{
  padding-top: 12rem;
  text-align: center;
 }
 
 .copyright p {
     color: #BBB9B5;
     font-weight: 300;
     font-size: 16px;
     line-height: 2;
 }
 a.colorlib{
  color: var(--secondary-color);
 }

